@media screen and (max-width: 768px) {
/* tip text ctyles */
.select_tip{
    width: 140px;
    color: #5E7A7D;
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20px;
    margin-top: 32px;


}


.tip_container {
    display: flex;
    background-color:#FFFFFF ;
    padding: 0px;

}

  /* First column styles */
  .column {
    flex: 1;
    padding: 16px;
    border: 1px solid #ccc;
    background-color: #00474B;
    color: #FFF;
    text-align: center;
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    border-radius: 5px;
    background: #00474B;
    padding: 0px;
    width: 146.631px;
    height: 48px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    margin-left: 31px;

  }

.first{
    margin-right: 16.56px ;
}

.white {
    margin: 0px;
    padding: 0px;
    margin-right: -33.8px;
}


  /* Input field style */
  .input-field {
    border-radius: 4px;
    padding: 0px;
    width: 146.631px;
    height: 48px;
    border: 0px;
    background: #F3F9FA;
    color:#00474B ;
  }
  
  .column:hover {
    background-color: #26C2AE;
  }

}

@media screen and (min-width: 768px) {
  .select_tip{
    width: 140px;
    color: #5E7A7D;
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20px;
    margin-top: 32px;
}
 
.firstRaw{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;

}

.firstRaw :hover {
  background: #26C2AE ;
}


.raw1 {
  display: flex;
  justify-content: flex-start;
  height: 69px;
  width: 379;
  gap: 14px;
  margin-left: 32px;
  color: #FFF;
  text-align: center;
  font-family: Space Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }

.first {
  display: inline-block;
  width: 117px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #00474B;
}


/* second raww */


.raw2 {
  display: flex;
  justify-content: flex-start;
  height: 88px;
  width: 379;
  gap: 14px;
  margin-left: 32px;
  color: #FFF;
  text-align: center;
  font-family: Space Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }


.second{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  display: inline-block;
  width: 117px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #00474B;
}

.costum_input{
  width: 109px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #F3F9FA;
  background: #F3F9FA;
  text-align: right;
  font-family: Space Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  color: #00474B;
  padding-right: 2px;
  
  }

  .column:hover{
    background: #9FE8DF;
  }


}

